{% load static %}
<!DOCTYPE html>
<html lang="zh-hans" >
<head>
<title>大数据部门图书借阅系统--后台管理</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/changelist.css' %}" />
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" app-book model-book change-list" data-admin-utc-offset="28800">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/library/">大数据部门图书借阅系统--<strong>后台管理</strong></a></h1>
        </div>
        <div id="user-tools">
                欢迎，管理员 /
                <a href="{% url 'login:logout' %}">注销</a>
        </div>
    </div>
    <!-- END Header -->
<div class="bread">
<div><a href="{% url 'backend:index' %}">审核中心</a></div>
<div class="history"><a href="{% url 'backend:backend_history' %}">借阅管理</a></div>
<div class="storage"><a href="{% url 'backend:backend_storage' %}">图书管理</a></div>
<div class="user active">用户管理</div>
<div class="buy"><a href="{% url 'backend:backend_buy' %}">申购管理</a></div>
</div>
    <!-- Content -->
    <div id="content" class="flex">
        <div id="content-main">
            <div class="module filtered" id="changelist">
                <div id="changelist-check">
                    <h2>新增用户</h2>
                    <div class="user_new" style="margin-top: 10px">
                        邮箱 <input type="text" name="email" id="email_in"/><br>
                        姓名 <input type="text" name="name" id="name_in"/><br>
                        <input type="submit" value="提交" id="user_submit"/>
                    </div>
                </div>
                <div class="actions search">
                    <label>每页显示
                    <select name="action" id="per" required>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select></label>
                </div>
                <div class="search">
                    <label>
                        <input type="text" name="search" id="user-search" placeholder="用户搜索"/>
                    </label>
                </div>
                <div class="results">
                    <table id="result_list">
                    <thead>
                        <tr>
                            <th>
                               <div class="result_col">用户名</div>
                            </th>
                            <th>
                               <div class="result_col">邮箱</div>
                            </th>
                            <th>
                               <div class="result_col">操作</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="results">
                    {% for user in user_lst %}
                        <tr class="row1" id="{{ user.id }}">
                            <th class="first_name">{{ user.first_name }}</th>
                            <td class="email">{{ user.email }}</td>
                            <td class="action"><button class="bt-modify-user">编辑</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
                <p id="paginator">
                    <span class="this-page">第1页</span>
                    <button class="bt-page" value="{{ next_page }}">下一页</button>
                    <span class="total_page"> 共 {{ total_page }} 页 </span>
                    <span class="count"> {{ user_lst.count }} 条结果</span>
                </p>
            </div>
        </div>
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/backend_user.js' %}"></script>
</body>
</html>
