{% load static %}
<!DOCTYPE html>
<html lang="zh-hans" >
<head>
<title>大数据部门图书借阅系统</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/changelist.css' %}" />
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" app-book model-book change-list" data-admin-utc-offset="28800">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/library/">大数据部门图书借阅系统</a></h1>
        </div>
        <div id="user-tools">
                欢迎，{{ user }} /
                <a href="{% url 'storage:user_center' %}">个人中心 / </a>
                <a href="{% url 'login:logout' %}">注销</a>
        </div>
    </div>
    <!-- END Header -->
<div class="breadcrumbs">
书籍是人类的海洋
</div>
    <!-- Content -->
    <div id="content" class="flex">
        <div id="content-main">
            <div class="module filtered" id="changelist">
                <div id="changelist-filter">
                    <h2>我的借阅</h2>
                        <table id="myhistory">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="history_col">书名</div>
                                    </th>
                                    <th>
                                        <div class="history_col">借阅日期</div>
                                    </th>
                                    <th>
                                        <div class="history_col">归还截止</div>
                                    </th>
                                    <th>
                                        <div class="history_col">状态</div>
                                    </th>
                                    <th>
                                        <div class="history_col">操作</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="history">
                            {% for history in history_lst %}
                                <tr class="row2">
                                    <th class="history_book">{{ history.book }}</th>
                                    <td class="history_borrow_date">{{ history.borrow_date }}</td>
                                    <td class="history_back_date">{{ history.back_date }}</td>
                                    {% if history.status == 0 %}
                                    <td class="history_status">借阅不通过</td>
                                    <td class="history_action"></td>
                                    {% elif history.status == 1 %}
                                    <td class="history_status">借阅审核中</td>
                                    <td class="history_action"></td>
                                    {% elif history.status == 2 %}
                                    <td class="history_status">借阅中</td>
                                    <td class="history_action">
                                        <button class="bt-history" value="{{ history.id }}">归还</button>
                                    </td>
                                    {% elif history.status == 3 %}
                                    <td class="history_status">归还不通过</td>
                                    <td class="history_action">
                                        <button class="bt-history" value="{{ history.id }}">归还</button>
                                    </td>
                                    {% elif history.status == 4 %}
                                    <td class="history_status">归还审核中</td>
                                    <td class="history_action"></td>
                                    {% elif history.status == 5 %}
                                    <td class="history_status">已归还</td>
                                    <td class="history_action"></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>

                <div class="actions search">
                    <label>状态筛选
                    <select name="action" id="select" required>
                        <option value="9">全部</option>
                        <option value="1">在库</option>
                        <option value="0">出库</option>
                    </select></label>
                </div>
                <div class="actions search">
                    <label>每页显示
                    <select name="action" id="per" required>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select></label>
                </div>
                <div class="search">
                    <label>
                        <input type="text" name="search" id="book-search" placeholder="图书搜索"/>
                    </label>
                </div>
                <div class="results">
                    <table id="result_list">
                    <thead>
                        <tr>
                            <th>
                               <div class="result_col">书名</div>
                            </th>
                            <th>
                               <div class="result_col">库存</div>
                            </th>
                            <th>
                               <div class="result_col">剩余</div>
                            </th>
                            <th>
                               <div class="result_col">状态</div>
                            </th>
                            <th>
                               <div class="result_col">操作</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="results">
                    {% for storage in storage_lst %}
                        <tr class="row1" id="{{ storage.id }}">
                            <th class="book">{{ storage.book }}</th>
                            <td class="inventory">{{ storage.inventory }}</td>
                            <td class="remain">{{ storage.remain }}</td>
                            {% if storage.remain == 0 %}
                            <td class="status">出库</td>
                            <td class="action"></td>
                            {% else %}
                            <td class="status">在库</td>
                            <td class="action"><button class="bt-storage">借阅</button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
                <p id="paginator">
                    <span class="this-page">第1页</span>
                    <button class="bt-page" value="{{ next_page }}">下一页</button>
                    <span class="total_page"> 共 {{ total_page }} 页 </span>
                    <span class="count"> {{ count }} 条结果</span>
                </p>
            </div>
        </div>
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
